<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Seu Bairro</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div id="logged">
          <li><a *ngIf="isAdmin && isAuthenticated" [routerLink] = "['/estabelecimentos']" >Estabelecimentos</a></li>
          <li><a *ngIf="isAdmin && isAuthenticated" [routerLink] = "['/categorias']">Categorias</a></li>
          <li><a *ngIf="isAdmin && isAuthenticated" [routerLink] = "['/destaque']">Destaque</a></li>
          <li><a  *ngIf="isAuthenticated" (click)="logout()" >Sair</a></li>
        </div>  
     
    </ul>
  </div>
</nav>
        